body {
    font-family: 'Times New Roman';
    font-size: 100%;
}
div {
    text-align: center;
}
div p {
    position: relative;
    margin: 0;
}
.part {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
textarea {
	width: 40%;
	margin: 2%;
	white-space: nowrap;
}