#chromeTools_timeLine {
    font-family: 'Times New Roman';
    font-size: 16px;
    text-align: center;
    position: relative;
}
#chromeTools_timeLine div {
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#chromeTools_timeLine div p {
    position: relative;
    margin: 0;
}
#chromeTools_timeLine #timeLine {
    height: 50px;
    float: left;
}
#chromeTools_timeLine #timeLineHolder {
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
}
#chromeTools_timeLine .timeLine {
    height: 50px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: inline-block;
}
#chromeTools_timeLine .timeLineBlock {
    border: 1px solid white;
}
#chromeTools_timeLine .wasting0 {
    background-color: black;
}
#chromeTools_timeLine .wasting1 {
    background-color: red;
}
#chromeTools_timeLine .wasting2 {
    background-color: #8C0000;
}
#chromeTools_timeLine #info {      
    word-wrap: break-word;
}
#chromeTools_timeLine .axisPart {
    display: inline-block;
    float: left;
    padding: 0;
    height: 3px;
    width: 60px;
    border-right: 1px solid black;
}
#chromeTools_timeLine .axisPart.top {
    border-bottom: 1px solid black;
}
#chromeTools_timeLine .axisPart.bot {
    border-top: 1px solid black;
}
#chromeTools_timeLine .axisPart.end {
    width: 60px;
    border-right: 0;
}
#chromeTools_keyPress {
    position: absolute;
    z-index: 1;
}
#chromeTools_keyPress .filled {
    color: black;
}
#chromeTools_keyPress .failed {
    color: red;
}
#chromeTools_keyPress .phrasePart {
    display: inline;
    font-size: 100px;
}
#chromeTools_keyPress #phraseFront {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 2;
    color: #f0f0f0;
}
#chromeTools_keyPress #phraseBack {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
#chromeTools_keyPress #phrase.done .filled {
    color: white;
}
#chromeTools_keyPress #phrase.done #phraseBack {
    background-color: black;
}